@charset "utf-8";
/*  FAO: Food and Agriculture Organization of the United Nations, for a world without hunger
	Núcleo de Capacitación en Políticas Públicas
	This website is powered by Moodle
	Extensions are copyright of their respective owners.
	Information and contribution at https://moodle.org/ 
*/

.responsive-img {
	max-width: 100%;
	height: auto;
}
.text-center {
	text-align: center !important;
}
.text-caja-inicio {
	text-align: left !important;
	font-size: 0.9em;
}
.foto_izquierda {
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.foto_derecha {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.foto_centro {
	display: block;
	margin: auto;
}
.foto_izq_fuera {
	float: left;
	margin-top: -20px;
	margin-right: 10px;
	margin-bottom: 6px;
	margin-left: -40px;
}
.foto_der_fuera {
	float: right;
	margin-top: -20px;
	margin-right: -40px;
	margin-bottom: 6px;
	margin-left: 10px;
}
.marco {
	padding: 5px;
	border: solid 1px #fff;
}
#ref {
	padding: 0px;
	float: right;
	height: 22px;
	width: 103px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: -6px;
	margin-left: 0px;
}
#ref a:link, #ref a:visited {
	background-image: url(../img/img_gen/referencias.png);
	background-repeat: no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 103px;
}
#ref a:hover {
	margin-top: 2px;
}
/*omar*/

.sombra {
	-webkit-box-shadow: 0px 15px 32px -9px rgba(65,93,50,1);
-moz-box-shadow: 0px 15px 32px -9px rgba(65,93,50,1);
box-shadow: 0px 15px 32px -9px rgba(65,93,50,1);
}
.alert-success h3, .alert-danger h3, .alert-warning h3, .alert-info h3 {
	color: inherit;
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout-danger {
	border-left-color: #ce4844
}
.bs-callout-danger h4 {
	color: #ce4844
}
.bs-callout-warning {
	border-left-color: #aa6708
}
.bs-callout-warning h4 {
	color: #aa6708
}
.bs-callout-info {
	border-left-color: #1b809e
}
.bs-callout-info h4 {
	color: #1b809e
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
	font-size: 1.5em;
}
.label-unidad {
	background-color: #2c810b;
}
.label-unidad[href]:hover, .label-unidad[href]:focus {
	background-color: #76878f;
}
.badge {
	background-color: #51a5b4;
}
.shadow {
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
}
.verticalLine {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 20px;
}
.verticalLineTwo {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #999;
}
.caja {
	margin: 10px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	border-top: 6px solid #3a7b1d;
}
.text_destacado {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #003366;
	text-align: left;
	font-style: normal;
	line-height: 1.1em;
	padding: 6px;
}

.popover{
	min-width: 260px;
	background-color: #ffffe7;
}
	
/* Unidad 1 */

.linea {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}

.texto_sobre_foto {
	color: #FFF;
	text-shadow: #231b1b 0.02em 0.02em 0.2em;
}

/* Unidad 1 */

#rotargear {
	-webkit-animation: rotation 16s infinite linear;
}
 @-webkit-keyframes rotation {
 from {
 -webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(359deg);
}
}
/* 5 columnas */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
       position: relative;
       min-height: 1px;
       padding-right: 10px;
       padding-left: 10px;
}

.col-xs-15 {
       width: 20%;
       float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
           width: 20%;
           float: left;
       }
}
@media (min-width: 992px) {
       .col-md-15 {
           width: 20%;
           float: left;
       }
}
@media (min-width: 1200px) {
       .col-lg-15 {
           width: 20%;
           float: left;
       }
}
/* 5 columnas */


/* inicio backgrounds*/

.back_web_1 {
	background-image: url("../img/img_un/back-web-1.png");
	background-repeat:no-repeat ;
	background-position: right top;
}
.back_logos {
	background-image: url("../img/img_un/back-logos.png");
	background-repeat:no-repeat ;
	background-position: top center;
	min-height: 120px;
}


/* fin backgrounds*/
