<div style="max-width: 96%">
    <div style="background-image: url(https://capacitacion.fao.org/pluginfile.php/6641/mod_folder/content/0/banner-general.jpg); background-repeat: no-repeat; background-position: top left; min-height: 300px; padding: 20px;">
        <div class="row">
            <div class="col-md-4">
                <p style="font-family: 'Roboto', sans-serif; font-size: 2.0em; color: #fff; text-align: left; font-style: normal; padding: 8px;">Plataforma Agricultura Familiar</p>
                <p style="font-family: 'Roboto', sans-serif;
    font-size: 0.9em; color: #fff; text-align: left; font-style: normal; padding: 9px;">La agricultura familiar es, con mucho, el tipo de agricultura más extendido tanto en países desarrollados como en desarrollo. Representa la fuente de empleo más grande del mundo. Es mucho más que una forma de trabajo. Es un estilo de vida.
                </p>

                <a href="#" target="_blank" class="btn btn-primary" data-toggle="modal" data-target="#mas_info1">Más información</a></div>
            <div class="col-md-8"> </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div style="margin: 14px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
    border-top: 6px solid #3a7b1d;"> <img src="https://capacitacion.fao.org/pluginfile.php/6641/mod_folder/content/0/01.jpg" class="img-fluid" alt="Responsive image">
                <h3>Innovación y Sostenibilidad en la Agricultura Familiar</h3>
                <div class="alert alert-warning">
                    <p>Modalidad: Autoaprendizaje<br> Duración: 10 hrs.<br> Disponible desde el 11.10.2021 <br> Valor: Gratuito</p>
                </div>
                <p>En este curso presentaremos diferentes principios y experiencias o casos que muestran cómo la agricultura familiar ha puesto en práctica soluciones innovadoras para transformar los sistemas alimentarios hacia la sostenibilidad.</p>
                <a href="#" target="_blank" class="btn btn-primary" data-toggle="modal" data-target="#curso1">Más información</a> <a href="https://capacitacion.fao.org/course/view.php?id=9" target="_blank" class="btn btn-primary">Entrar</a> </div>
        </div>
        <div class="col-md-4">
            <div style="margin: 14px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
    border-top: 6px solid #3a7b1d;"> <img src="https://capacitacion.fao.org/pluginfile.php/6641/mod_folder/content/0/02.jpg" class="img-fluid" alt="Responsive image">
                <h3>Nombre módulo</h3>
                <div class="alert alert-warning">
                    <p>Modalidad: Autoaprendizaje<br> Duración: 12 hrs.<br> Disponible desde el 06.11.2021 <br> Valor: Gratuito</p>
                </div>
                <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
                <a href="#" target="_blank" class="btn btn-primary">Más información</a> <a href="#" target="_blank" class="btn btn-primary">Entrar</a> </div>
        </div>
        <div class="col-md-4">
            <div style="margin: 14px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 14px 14px 14px 14px;
    -webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
    box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
    border-top: 6px solid #3a7b1d;"> <img src="https://capacitacion.fao.org/pluginfile.php/6641/mod_folder/content/0/03.jpg" class="img-fluid" alt="Responsive image">
                <h3>Nombre módulo</h3>
                <div class="alert alert-warning">
                    <p>Modalidad: Autoaprendizaje<br> Duración: 12 hrs.<br> Disponible desde el 09.12.2021 <br> Valor: Gratuito</p>
                </div>
                <p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                    id, lorem. Maecenas nec odio</p>
                <a href="#" target="_blank" class="btn btn-primary">Más información</a> <a href="#" target="_blank" class="btn btn-primary">Entrar</a> </div>
        </div>
    </div>
</div>


<!-- más info -->
<div class="modal fade" id="mas_info1" tabindex="-1" aria-labelledby="masinfo" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Más Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <p>La agricultura familiar es, con mucho, el tipo de agricultura más extendido tanto en países desarrollados como en desarrollo. Representa la fuente de empleo más grande del mundo. Es mucho más que una forma de trabajo. Es un estilo de vida.
                </p>
                <p>En 2014, el Año Internacional sobre la Agricultura Familiar (AIAF 2014) centró la atención del mundo en el rol crucial que desempeñan los agricultores familiares a la hora de aliviar el hambre y la pobreza, a la vez que aportan seguridad
                    alimentaria y nutrición, mejoran los medios de subsistencia, gestionan los recursos naturales de forma sostenibles, protegen el medioambiente y promueven el desarrollo sostenible.</p>
                <p>En 2017 se proclamó el Decenio Internacional de Agricultura Familiar 2019-2028 como un marco para que los países desarrollen políticas públicas e inversiones para apoyar a los agricultores familiares y contribuyan al logro de los Objetivos
                    de Desarrollo Sostenible (ODS), incluida la erradicación de la pobreza rural en todas sus formas y dimensiones. Esta publicación resalta algunos de los mensajes clave de la FAO y la labor de la Organización en la agricultura familiar
                    a nivel regional y nacional. Muestra el desarrollo positivo desde el AIAF 2014 y recalca las palancas y los procesos específicos que habrá que aumentar en la próxima década.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN mas_info1 -->

<!-- curso 1 -->
<div class="modal fade" id="curso1" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Más Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
            </div>
            <div class="modal-body">
                <img src="https://capacitacion.fao.org/pluginfile.php/6641/mod_folder/content/0/01.jpg" class="img-fluid" alt="Responsive image">
                <h3>Innovación y Sostenibilidad en la Agricultura Familiar</h3>
                <div class="alert alert-warning">
                    <p>Modalidad: Autoaprendizaje<br> Duración: 10 hrs.<br> Disponible desde el 11.10.2021 <br> Valor: Gratuito</p>
                </div>
                <p>En este curso presentaremos diferentes principios y experiencias o casos que muestran cómo la agricultura familiar ha puesto en práctica soluciones innovadoras para transformar los sistemas alimentarios hacia la sostenibilidad.</p>
                <h4>Objetivos de aprendizaje</h4>
                <p>Al final de esta unidad, usted podrá:</p>
                <ul>
                    <li>Explicar el aporte de diferentes enfoques innovadores desde la Agricultura familiar en la construcción de sostenibilidad en los sistemas alimentarios.</li>
                    <li>Identificar iniciativas y herramientas que desde la agricultura familiar sirven a transformar los sistemas alimentarios.</li>
                    <li>Relacionar los principios y características claves para la innovación en experiencias concretas en los territorios.</li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN curso 1 -->